@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui, "Segoe UI";
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#main-section {
  min-height: 100vh;
  background-color: rgb(254, 223, 130);

  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter {
  background-color: #fff;
  border-radius: 7px;
  padding: 1rem;
  min-width: 80vh;

  display: flex;
  justify-content: center;
  gap: 1rem;
}

.signup-container {
  display: flex;
  flex-direction: column;
}

.signup-container .primary-title {
  font-size: 2.5rem;
}

.signup-container small {
  margin-bottom: 1rem;
  color: gray;
}

.signup-container input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.secondary-title {
  font-weight: 600;
}

#signupBtn {
  padding: 0.5rem;
  background-color: rgb(254, 202, 38);
  border: none;
  border-radius: 0.2rem;
}

.left-image-container {
  min-width: 50%;
  height: 100%;
}

.left-image-container img {
  height: auto;
  width: 300px;
}
